.pink{
  background-color: pink;
  border: 1px solid black;
  height: 200px;
  text-align: center;
}

.orange{
  background-color: #f07f80;
  border: 1px solid white;
  text-align: center;
}

span{
  line-height: 185px;
}

.orangerow{
  padding: 5px;
}
